@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:100;
	src:url(../fonts/NotoSansKR-Thin.woff2) format('woff2'),url(../fonts/NotoSansKR-Thin.woff) format('woff'),url(../fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:300;
	src:url(../fonts/NotoSansKR-Light.woff2) format('woff2'),url(../fonts/NotoSansKR-Light.woff) format('woff'),url(../fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	src:url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),url(../fonts/NotoSansKR-Regular.woff) format('woff'),url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	src:url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),url(../fonts/NotoSansKR-Medium.woff) format('woff'),url(../fonts/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	src:url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),url(../fonts/NotoSansKR-Bold.woff) format('woff'),url(../fonts/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:900;
	src:url(../fonts/NotoSansKR-Black.woff2) format('woff2'),url(../fonts/NotoSansKR-Black.woff) format('woff'),url(../fonts/NotoSansKR-Black.otf) format('opentype');
}
body {
	font-family:'Noto Sans KR',dotum,sans-serif;
	color:#7d7d7d;
}
.hidden {
	visibility:hidden;
	width:0;
	height:0;
}
.chked_area {
	display:inline-block;
	position:relative
}
.chked_area input[type="checkbox"],.chked_area input[type="radio"] {
	position:absolute;
	width:1px;
	height:1px;
	border:0;
	-webkit-appearance:none;
	clip:rect(0,0,0,0)
}
input[type="checkbox"]+label {
	display:inline-block;
	height:22px;
	line-height:21px;
	padding:0 0 0 25px;
	font-size:14px;
	background:url(../images/inp_checkbox.png) no-repeat left center;
	cursor:pointer
}
input[type="checkbox"]:checked+label {
	background:url(../images/inp_checkbox_on.png) no-repeat left center;
}
.radio_area input[type='radio'] {
	display:none;
}
.radio_area input[type='radio']+label::before {
		content:' ';
		display:inline-block;
		width:18px;
		height:18px;
	vertical-align:middle;
	/* img 아이콘 항상 세로정렬을 하기 위함 */ 	margin:0px 5px 0 0;
		background: url(../images/inp_radio.png) no-repeat;
	/* 하위 브라우저용 img */
}
.radio_area input[type='radio']:checked+label::before {
	/* 가짜 라디오버튼 체크했을 때 */
	background:url(../images/inp_radio_on.png) no-repeat;
	/* 하위 브라우저용 img */
	background-position:0px 0;
}
.radio_area input[type='radio']+label {
	margin-right:10px;
}
.radio_area input[type='radio']+label:last-child {
	margin-right:0;
}
.txt_out {
	width:0;
	text-indent:-999em;
	font-size:0;
}
input[type="text"],input[type="password"],select {
	height:28px;
	line-height:26px;
	padding:0 3px;
	font-size:14px;
	color:#333;
}

* {
	outline:none;
}
*,:after,:before {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
h1,h2,h3,h4,h5 {
	color:#2E303D
}
legend {
	visibility:hidden;
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:1px;
	font-size:0;
	line-height:0
}
header {
	width:100%;
	height:150px;
	background:#f8f8f8;
	border-bottom:1px solid #E3E3E3
}
header #header_cont {
	width:1600px;
	margin:0 auto;
}
header h1 {
	float:left;
	margin:48px 0;
	line-height:1.5;
}
header h2 {
	display:inline-block;
	margin:57px 0 57px 20px;
	padding-left:20px;
	font-size:36px;
	color:#538fc7;
	border-left:2px solid #7d7d7d;
}
header h1 a {
	font-size:36px;
	font-weight:bold;
	color:#538fc7;
	padding-left:80px;
	background:url(../images/logo.png) left 50% no-repeat;
}
header #header_cont .adminmn {
	position:relative;
	float:right;
	width:140px;
	height:150px;
	line-height:150px;
	text-align:center;
}
section {
	width:1600px;
	margin:0 auto;
}
#contents {
	margin: 20px auto 40px;
}
/* 공통 */
.adminmn {
	/* Size & position */
	position:relative;
	width:140px;
	margin:0;
	font-size:22px;
	color:#538fc7;
	cursor:pointer;
}
.adminmn i {
	margin-right: 10px;
}
.adminmn .dropdown {
	/* Size & position */
	position:absolute;
	top:100%;
	left:0;
	right:0;
	/* Styles */
	background:#fff;
	border-radius:0 0 5px 5px;
	border:1px solid #f8f8f8;
	border-top:none;
	border-bottom:none;
	list-style:none;
	/* Hiding */
	max-height:0;
	overflow:hidden;
}
.adminmn .dropdown li {
	padding:0 10px;
	line-height:20px;
	text-align:left;
}
.adminmn .dropdown li a {
	display:block;
	text-decoration:none;
	font-size:16px;
	color:#538FC7;
	padding:10px 15px;
	border-bottom:1px solid #e6e8ea;
}
.adminmn .dropdown li:last-of-type a {
	border:none;
}
.adminmn .dropdown li i {
	margin-right:5px;
	color:inherit;
	vertical-align: middle;
}
/* Hover state */
.adminmn .dropdown li:hover a {
	color: #4983b9;
}
/* Active state */
.adminmn.active {
	background:#fff;
	border-bottom:none;
	color:#4983b9;
}
.adminmn.active:after {
	border-color:#82d1ff transparent;
}
.adminmn.active .dropdown {
	border-bottom:1px solid #E3E3E3;
	max-height:400px;
	z-index: 999;
}
/* 로그인 페이지 */
#login_box {
	width:480px;
	margin:160px auto 0;
	border-radius:5px;
	border:1px solid #E3E3E3;
}
.loin_tit {
	padding:30px;
	background:#F8F8F8;
	border-bottom:1px solid #E3E3E3
}
#login_box h3 {
	height:45px;
	line-height:45px;
	font-size:30px;
	font-weight:600;
	padding-left:75px;
	background:url(../images/login_box.png) left 50% no-repeat;
}
#login_box h4 {
	margin-top:12px;
	font-size:22px;
}
#login_box fieldset {
	padding:30px;
}
#login_box .userid {
	margin-bottom:40px;
}
#login_box .i_label {
	display:block;
	margin-bottom:12px;
	font-size:22px;
}
#login_box .i_text {
	width:430px;
	height:48px;
	line-height:48px;
	padding:0px 23px;
	font-size:22px;
	color:#2E303D;
	border-radius:5px;
	border:1px solid #E3E3E3;
}
#login_box .i_text:active,#login_box .i_text:focus {
	background:#FBFBC2;
}
#login_box .btnlogin input {
	display:inline-block;
	width:135px;
	height:53px;
	margin-top:30px;
	padding:0;
	font-size:22px;
	color:#538fc7;
	border-radius:5px;
	border:1px solid #538fc7;
	background:none;
}
#login_box .btnlogin input:hover,#login_box .btnlogin input:focus,#login_box .btnlogin input:active {
	display:inline-block;
	width:135px;
	height:53px;
	margin-top:30px;
	padding:0;
	font-size:22px;
	color:#fff;
	border-radius:5px;
	border:1px solid #4983b9;
	background:#4983b9;
}
/* 메인화면 */ #links {
	width:1200px;
	margin:80px auto 0;
}
#links ul li {
	float:left;
	margin:0 20px 30px;
	text-align:center;
	border-radius:5px;
	border:2px solid #e3e3e3;
}
#links ul li a {
	display:block;
	width:100%;
	height:100%;
	padding-top:155px;
	font-size:22px;
}
#links ul li:hover a h3 {
	color:#4983b9;
}
#links .item2 li {
	width:560px;
	height:250px;
}
#links .item4 li {
	width:260px;
	height:250px;
}
#links .item2 .item01 {
	background:url(../images/links_img_01.png) center 40% no-repeat;
}
#links .item2 .item01:hover {
	background:url(../images/links_img_01r.png) center 40% no-repeat;
}
#links .item2 .item02 {
	background:url(../images/links_img_02.png) center 40% no-repeat;
}
#links .item2 .item02:hover {
	background:url(../images/links_img_02r.png) center 40% no-repeat;
}
#links .item2 .item03 {
	background:url(../images/links_img_03.png) center 40% no-repeat;
}
#links .item2 .item03:hover {
	background:url(../images/links_img_03r.png) center 40% no-repeat;
}
#links .item2 .item04 {
	background:url(../images/links_img_04.png) center 40% no-repeat;
}
#links .item2 .item04:hover {
	background:url(../images/links_img_04r.png) center 40% no-repeat;
}
#links .item4 .item05 {
	background:url(../images/links_img_05.png) center 40% no-repeat;
}
#links .item4 .item05:hover {
	background:url(../images/links_img_05r.png) center 40% no-repeat;
}
#links .item4 .item06 {
	background:url(../images/links_img_06.png) center 40% no-repeat;
}
#links .item4 .item06:hover {
	background:url(../images/links_img_06r.png) center 40% no-repeat;
}
#links .item4 .item07 {
	background:url(../images/links_img_07.png) center 40% no-repeat;
}
#links .item4 .item07:hover {
	background:url(../images/links_img_07r.png) center 40% no-repeat;
}
#links .item4 .item08 {
	background:url(../images/links_img_08.png) center 40% no-repeat;
}
#links .item4 .item08:hover {
	background:url(../images/links_img_08r.png) center 40% no-repeat;
}
#links .item4 .item09 {
	background:url(../images/links_img_09.png) center 40% no-repeat;
}
#links .item4 .item09:hover {
	background:url(../images/links_img_09r.png) center 40% no-repeat;
}
.page_tit {
	position:relative;
	height:40px;
	margin-bottom:40px;
}
.page_tit::after {
	display:block;
	content:'';
	clear:both;
}
.page_tit h3 {
	float:left;
	font-size:28px;
	color:#7d7d7d;
}
.page_tit h3>span {
	margin-left:10px;
	font-size:18px;
}
#tab01 {
	margin-bottom:20px;
}
#tab01:before {
	content:'';
	display:block;
	clear:both;
}
#tab01:after {
	content:"";
	display:block;
	clear:both;
}
#tab01 ul li {
	float:left;
	margin-right:50px;
}
#tab01 ul li a {
	font-size:14px;
	color:#7d7d7d
}
#tab01 ul li i {
	color:#D86E74;
}
#tab01 ul .on sup {
	color:#538fc7;
}
#tab01 ul .on a {
	border-bottom:2px solid #538fc7;
	color:#538fc7;
}
#tab01 ul .lock a {
	color:#E3E3E3
}
#tab_cont .boxcon {
	padding:20px;
	border-radius:5px;
	border:1px solid #E3E3E3;
	overflow:hidden;
}
#tab_cont .tr_list01 {
	margin-top:20px;
}
#tab_cont .tr_list01>li {
	position:relative;
	display:inline-block;
	width:375px;
	height:160px;
	margin-right:20px;
	padding:15px;
	background:#f8f8f8;
	border-radius:8px;
}
#tab_cont .tr_list01 li:nth-child(4n) {
	margin-right:0;
}
#tab_cont .tr_list01 li .boxtitle {
	width:240px;
	font-size:16px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	word-wrap:normal;
	text-overflow:ellipsis;
}
#tab_cont .tr_list01 .normaltxt {
	float:right;
	margin-top:20px;
	width:210px;
	line-height:120%;
	font-size:14px;
}
#tab_cont .tr_list01 .select01 {
	background:#97bcde;
	color:#fff;
}
#tab_cont .tr_list01 .select02 {
	background:#567896;
	color:#fff;
}
.tr_list01 ol {
	position:absolute;
	right:20px;
}
.tr_list01 ol li {
	display:table-cell;
	width:20px;
	height:20px;
	text-align:center;
	vertical-align:middle;
}
#tab_cont .tr_list01 .acc_img {
	position:absolute;
	bottom:20px;
	left:20px;
}
#tab_cont .row5>li {
	width:292px;
	height:125px;
	margin-right:20px;
	margin-bottom:20px;
}
#tab_cont .row5 li:nth-child(5n) {
	margin-right:0;
}
#tab_cont .row5 li:nth-child(4n) {
	margin-right:20px;
}
#tab_cont .tr_list01 dl {
	float:left;
	margin-left:25px;
}
#tab_cont .tr_list01 dt {
	font-size:18px;
	margin-bottom:8px;
}
#tab_cont .tr_list01 dd {
	font-size:14px;
	line-height:150%;
}
.tr_list01 .job_img {
	float:left;
}
.list_tbl {
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	margin-top:20px;
}
.list_tbl td {
	border-top:1px solid #e3e3e3;
	vertical-align:middle;
	padding:10px
}
.list_tbl tr:nth-child(1) td {
	border-top:none;
}
.list_tbl tr td:nth-child(1) {
	border-top:none;
	position:relative;
}
.list_tbl td p {
	margin-bottom:10px;
	font-size:14px;
	color:#7d7d7d
}
.list_tbl td>span {
	font-size:12px;
	color:#E3E3E3
}
.list_tbl .list_active td,.list_tbl .list_active td p {
	color:#28436E
}
.list_tbl .list_hover td:nth-child(n+2) {
	background:#97bcde;
}
.list_tbl .list_hover td:nth-child(n+2) p {
	color:#fff;
}
.list_tbl2 {
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	margin-top:20px;
}
.list_tbl2 td {
	border-top:1px solid #e3e3e3;
	vertical-align:middle;
	padding:10px
}
.list_tbl2 td:nth-child(1) img {
	vertical-align:middle;
}
.list_tbl2 tr:nth-child(1) td {
	border-top:none;
}
.list_tbl2 td p {
	margin-bottom:5px;
}
.list_tbl2 td>span {
	font-size:12px;
	margin-bottom:3px;
	display:block;
	color:#E3E3E3
}
#warn_layer {
	position:absolute;
	width:380px;
	padding:15px 17px;
	border-radius:5px;
	background:#F3DEE0;
	-moz-box-shadow:0px 1px 10px #f8f8f8;
	-webkit-box-shadow:0px 1px 10px #f8f8f8;
	box-shadow:0px 1px 10px #f8f8f8;
	left:50%;
	top:230px;
	z-index:999;
	margin-left:-190px;
}
#warn_layer h5 {
	margin-bottom:10px;
	font-size:22px;
	color:#D86E74;
}
#warn_layer p {
	font-size:14px;
	color:#7d7d7d;
}
#warn_layer .closePop {
	outline:none;
	position:absolute;
	right:10px;
	top:10px;
	background:none;
	border:none;
	color:#7d7d7d
}
#warn_layer02 {
	position:absolute;
    width:900px;
    height: 600px;
	border-radius:5px;
	background:#FCFCFC;
	-moz-box-shadow:0px 1px 10px #e3e3e3;
	-webkit-box-shadow:0px 1px 10px #e3e3e3;
	box-shadow:0px 1px 10px #e3e3e3;
	left:50%;
	top:230px;
	z-index:999;
	margin-left:-450px;
}
.warn_head {
    position: relative;
}
#warn_layer02 h5 {
    margin-bottom:10px;
    padding: 20px;
    border-bottom: 1px solid #E3E3E3;
	font-size:22px;
	color:#7D7D7D;
}
.warn_wrap {
    padding: 15px 17px;
    height: 445px;
    /* overflow-y: scroll; */
}
#warn_layer02 p {
	font-size:14px;
	color:#7d7d7d;
}
#warn_layer02 .closePop {
	outline:none;
	position:absolute;
	right:10px;
	top:10px;
	background:none;
	border:none;
	color:#7d7d7d
}
#warn_layer03 {
	position:absolute;
	width:380px;
	padding:15px 17px;
	border-radius:5px;
	background:#DBEEF8;
	-moz-box-shadow:0px 1px 10px #f8f8f8;
	-webkit-box-shadow:0px 1px 10px #f8f8f8;
	box-shadow:0px 1px 10px #f8f8f8;
	left:50%;
	top:230px;
	z-index:999;
	margin-left:-190px;
}
#warn_layer03 h5 {
	margin-bottom:10px;
	font-size:22px;
	color:#538FC7;
}
#warn_layer03 p {
	font-size:14px;
	color:#538FC7;
}
#warn_layer03 .closePop {
	outline:none;
	position:absolute;
	right:10px;
	top:10px;
	background:none;
	border:none;
	color:#7d7d7d
}
.btm-btns {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #e3e3e3;
    text-align: right;
}
.btn-pbasic {
	padding:8px 15px;
	font-size:14px;
	color:#7D7D7D;
	border-radius:5px;
    border:1px solid #7D7D7D;
    background: #fff;
}
.btn-pbasic:hover {
	color:#ffffff;
	background:#7D7D7D;
	border-radius:5px;
	border:1px solid #7D7D7D;
}
.btn-pbasic:active {
	color:#ffffff;
	background:#7D7D7D;
	border-radius:5px;
	border:1px solid #7D7D7D;
}
.btn-pbasic i {
	margin-right:5px;
}
.tblwrap {
	background:#E3E3E3;
	border-radius:10px;
	padding:0 8px 8px 8px;
}
.gray_tbl {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
.gray_tbl td {
	font-size:14px;
	padding:10px 10px;
	color:#7D7D7D;
	background-color:#F8F8F8;
	border-bottom:1px solid #E3E3E3;
	vertical-align:middle;
	line-height:130%;
}
.gray_tbl th {
	font-size:14px;
	text-align:left;
	padding:10px 10px;
	color:#7D7D7D;
}
table .td_80p {
	width:80px;
}
table .td_70pc {
	width:70%;
}
.gray_tbl .ellipsis {
	width:1100px;
	overflow:hidden;
	white-space:nowrap;
	word-wrap:normal;
	text-overflow:ellipsis;
	font-size:14px;
}
.gray_tbl .tbl_tit {
	font-size:16px;
	color:#538FC7;
}
.gray_tbl span {
	font-size:12px;
}
.gray_tbl dl dt {
	color:#538fc7;
}
#date_view {
	margin-top:15px;
}
#date_view dl {
	margin-right:45px;
	float:left;
}
#date_view dl dt {
	margin-bottom:15px;
	font-size:14px;
}
#date_view dl dd {
	font-size:16px;
	color:#2E303D
}
.page_2dpth_tit {
	position:relative;
	height:30px;
	margin-top:160px;
	margin-bottom:20px;
}
.page_2dpth_tit::after {
	display:block;
	content:'';
	clear:both;
}
.page_2dpth_tit h4 {
	float:left;
	font-size:22px;
	color:#7d7d7d;
}
.tbl220 {
	width:100%;
	height:220px;
	overflow-y:scroll;
}
.basic_tbl {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
.basic_tbl td {
	font-size:14px;
	padding:10px 10px;
	color:#7D7D7D;
	border-bottom:1px solid #F8F8F8;
	vertical-align:middle;
}
.ptcolor {
	color:#538FC7 !important;
}
.basic_tbl th {
	font-size:14px;
	text-align:left;
	padding:10px 10px;
	color:#7D7D7D;
	background:#F8F8F8;
}
.basic_tbl tr:hover td {
	background:#80A0D5;
	color:#fff;
}
.basic_tbl tr:hover .ptcolor {
	color:#28436E !important
}
.poptbl th {
    background: #e3e3e3
}
.poptbl td {
    border-bottom: 1px solid #e3e3e3
}
.tr_list>li {
	position:relative;
	float:left;
	width:296px;
	height:150px;
	margin-right:30px;
	margin-bottom:30px;
	padding:20px;
	color:#7d7d7d;
	border-radius:8px;
	border:1px solid #E3E3E3;
}
.tr_list>li a {
	display:block;
	width:100%;
	height:100%;
}
.tr_list>li p {
	width:254px;
	overflow:hidden;
	white-space:nowrap;
	word-wrap:normal;
	text-overflow:ellipsis;
	font-size:14px;
	color:#7d7d7d;
}
.tr_list>li .num {
	margin-right:5px;
	color:#e3e3e3;
}
[class^="step_"] {
	width:0;
	height:0;
	border-left:28px solid transparent;
	position:absolute;
	right:-1px;
	bottom:-1px;
	font-size:0;
	text-indent:-9999em;
}
.tr_list .step_01 {
	border-bottom:28px solid #b1cce6;
}
.tr_list .step_02 {
	border-bottom:28px solid #538fc7;
}
.tr_list .step_03 {
	border-bottom:28px solid #e2e2e2;
}
.legends {
	float:right;
	margin-bottom:3px;
}
.tr_list::after,.tr_list::before {
	display:block;
	content:'';
	clear:both;
}
.legends li {
	display:inline-block;
	margin-left:10px;
	font-size:14px;
}
.legends li i {
	margin-right:5px;
}
.legends li:nth-child(1) i {
	color:#538fc7;
}
.legends li:nth-child(2) i {
	color:#b1cce6;
}
.legends li:nth-child(3) i {
	color:#e2e2e2;
}
.img_acc_car {
	background:url(../images/img_car_acci.png) no-repeat;
}
.img_acc_ship {
	background:url(../images/img_ship.png) no-repeat;
}
[class^="img_acc_"] {
	background-position:20px bottom;
}
.tr_list ol {
	float:right;
	margin-top:40px;
}
.tr_list ol li {
	display:table-cell;
	width:40px;
	height:40px;
	text-align:center;
	vertical-align:middle;
}
.tr_list>li:nth-child(5n) {
	margin-right:0 !important;
}
#process {
	overflow:hidden;
	margin-bottom:40px;
}
#process .row3 {
	float:left;
	width:507px;
	height:150px;
	margin-bottom:30px;
	margin-right:26px;
}
#process .row1 {
	width:1600px;
}
#process .row1 .textbox {
	width:100%;
	height:150px;
	overflow-y:scroll;
	font-size:16px;
	color:#7d7d7d;
	border-radius:8px;
	background:#F8F8F8;
	line-height:150%;
	padding:30px;
}
#process .row3 h5,.row1 h5 {
	margin-bottom:15px;
	font-size:14px;
	color:#e3e3e3
}
#process .box_table {
	display:table-cell;
	height:100px;
	text-align:center;
	vertical-align:bottom;
	padding-right:60px;
}
#process .box_table span {
	margin-top:10px;
	display:block;
}
#process .box_table ul li {
	height:91px;
	line-height:91px;
	float:left;
	padding:0 8px;
}
#process .box_table ul li>img {
	max-height:100%;
	vertical-align:middle;
}
.imgwr {
	position:relative;
	height:91px;
}
.imgwr>img {
	position:absolute;
	left:0;
	bottom:0
}
.phase>li {
	width:219px;
	margin-right:40px;
	float:left;
}
.phase {
	overflow:hidden;
	margin-top:20px;
}
.phase>li>span {
	display:inline-block;
	width:110px;
	height:81px;
	margin-bottom:60px;
	color:#538fc7;
	font-size:30px;
	text-align:center;
	line-height:60px;
	background:url(../images/monitor_r.png) center top no-repeat;
}
.phase>.inactive>span {
	display:inline-block;
	width:110px;
	height:81px;
	margin-bottom:60px;
	color:#E3E3E3;
	font-size:30px;
	text-align:center;
	line-height:60px;
	background:url(../images/monitor.png) center top no-repeat;
}
.phase>li>ol>li:nth-child(1) {
	display:inline-block;
	width:110px;
	height:33px;
	text-align:center;
	color:#fff;
	font-size:16px;
	line-height:33px;
	border-radius:5px;
	background:#538FC7;
	margin-bottom:16px;
}
.phase ol {
	position:relative;
}
.phase ol li:nth-child(n+2) {
	padding-left:13px;
	z-index:999;
	height:55px;
	margin-bottom:15px;
}
.phase ol .dot {
	position:relative;
}
.phase ol .whdot {
	width:16px;
	height:16px;
	background:#538fc7;
	border-radius:50%;
	position:absolute;
	left:2px;
	top:20px;
	z-index:900;
}
.phase ol .stroke {
	width:20px;
	height:20px;
	background:#fff;
	border-radius:50%;
	position:absolute;
	left:0;
	top:18px;
	z-index:800;
}
.phase ol .dot_n {
	position:relative;
}
.phase ol .dot_n .whdot {
	width:16px;
	height:16px;
	background:#538fc7;
	border-radius:50%;
	position:absolute;
	left:2px;
	top:8px;
	z-index:900;
}
.phase ol .dot_n .stroke {
	width:20px;
	height:20px;
	background:#fff;
	border-radius:50%;
	position:absolute;
	left:0;
	top:6px;
	z-index:800;
}
.phase ol:before {
	border-left:5px solid #538FC7;
	position:absolute;
	left:20px;
	top:40px;
	width:5px;
	height:100%;
	content:"";
	z-index:700;
}
.phase ol .normalbox {
	margin-left:40px;
	color:#538FC7;
	padding:8px;
	height:55px;
}
.phase ol .normalbox img {
	float:left;
	margin-right:15px;
}
.phase ol .onbox p {
	display:block;
	float:left;
}
.phase ol .normalbox p {
	display:block;
	float:left;
}
.phase ol .normalbox span {
	display:block;
}
.phase ol .normalbox .tit {
	font-size:16px;
	margin-bottom:8px;
}
.phase ol .normalbox .time {
	font-size:12px;
	color:#E3E3E3
}
.phase ol .onbox {
	margin-left:40px;
	border-radius:5px;
	background:#538fc7;
	color:#fff;
	padding:8px;
	height:55px;
	position:relative;
}
.phase ol .onbox:after {
	border-top:7px solid transparent;
	border-left:7px solid transparent;
	border-right:7px solid #538fc7;
	border-bottom:7px solid transparent;
	content:"";
	position:absolute;
	bottom:20px;
	left:-14px;
}
.phase ol .onbox img {
	float:left;
	margin-right:15px;
}
.phase ol .onbox span {
	display:block;
}
.phase ol .onbox .tit {
	font-size:16px;
	margin-bottom:8px;
}
.phase ol .onbox .time {
	font-size:12px;
	color:#DBEEF8
}
.ftgray {
	color:#E3E3E3;
}
.ftgray dl dt {
	padding:8px 15px
}
.ftgray dl .hover {
	border-radius:5px;
	border:1px solid #e3e3e3;
}
.ftgray dl dd {
	padding-left:15px
}
[class^="bullet_"] li {
	padding-left:30px;
	font-size:16px;
	line-height:150%
}
.bullet_ li:nth-child(1) {
	background:url(../images/bull01.png) left 50% no-repeat;
}
.bullet_ li:nth-child(2) {
	background:url(../images/bull02.png) left 50% no-repeat;
}
.bullet_sky li:nth-child(1) {
	background:url(../images/bull01_sky.png) left 50% no-repeat;
}
.bullet_sky li:nth-child(2) {
	background:url(../images/bull02_sky.png) left 50% no-repeat;
}
button {
	border:none;
	background:transparent;
	cursor:pointer;
	width:auto;
	overflow:visible;
	display:inline-block;
	zoom:1
}
button::-moz-focus-inner {
	border:0;
	padding:0;
	margin:0
}
input[type="text"],input[type="number"],input[type="password"],select {
	vertical-align:middle;
	border:solid 1px #d0d0d0;
	padding:5px;
	border-radius:5px;
}
input[type="text"],input[type="password"],select {
	height:35px;
	line-height:32px;
	padding:5px 20px;
	font-size:14px;
	color:#7d7d7d;
}
#input_form {
	margin-bottom:30px;
}
#input_form table {
	width:100%;
}
#input_form table th {
	padding:19px 0;
	text-align:left;
		color:#7D7D7D;
	font-size:16px;
}
#input_form table td {
	padding:5px 20px 20px 0;
	text-align:left;
	color:#7D7D7D;
	font-size:14px;
}
#input_form table th {
	padding:5px 20px 5px 0;
	text-align:left;
	color:#7D7D7D;
	font-size:14px;
}
.rightbtn input[type="text"],input[type="number"],input[type="password"],select {
	vertical-align:middle;
	border:solid 1px #d0d0d0;
	padding:5px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0;
}
.date_pick {
	position:relative;
}
.date_pick input {
	padding:8px 10px;
	height:35px;
	line-height:30px;
}
.date_pick .btn_cal {
	position:absolute;
	right:0;
	top:0px;
}
[class^="btn_cal"] {
	position:absolute;
	right:0;
	top:0;
}
.date_pick .btn_cal:before {
	content:'';
	display:block;
	width:35px;
	height:35px;
	position:absolute;
	top:0;
	right:0px;
	background:url(../images/btn_date.png) 9px 8px no-repeat;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border:1px solid #538FC7;
}
.date_pick .btn_cal_off:before {
	content:'';
	display:block;
	width:35px;
	height:35px;
	position:absolute;
	top:0;
	right:0px;
	background:url(../images/btn_date_off.png) 9px 8px no-repeat;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border:1px solid #d0d0d0;
}
#input_form>table #input_form .column3 {
	width:100%;
}
.bg01 {
	width:100%;
	padding-left:90px;
	background:url(../images/calendar.png) left top no-repeat;
}
#tab02 {
	position:relative;
}
#tab02 .btn-group2 {
    display: block;
    position: absolute;
    top:0px;
    right: 0;        
	z-index:999;
}
#tab02 .tabstyle1 {
	width:100%;
	height:40px;
    position:relative;
    margin-bottom: 15px;
	border-bottom:1px solid #d0d0d0;
}
#tab02 .tabstyle1 li {
	float:left;
}
#tab02 .tabstyle1 li a {
	color:#7d7d7d;
	display:inline-block;
	padding:10px 20px;
}
#tab02 .tabstyle1 li a span {
	border-radius:50px;
	background:#4983b9;
	color:#fff;
	width:18px;
	height:18px;
	display:inline-block;
	text-align:center;
	font-size:13px;
	line-height:18px;
	margin-left:5px;
}
#tab02 .tabstyle1 .tabon {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:1px solid #d0d0d0;
	border-bottom:none;
	background:#fff;
}
#tab02 .tabstyle1 .tabon a {
	color: #538FC7;
}

.tablestyle1 .chkbox_area {
	position:relative;
	text-align:center;
}
.tablestyle1 .txt_out {
	width:0px;
	text-indent:-999em
}
/* 공통적용 CSS */
.btn-group {
	display:block;
	position:absolute;
	right:0;
	bottom:-5px;
}
[class^="btn-group"]  li {
	display:inline-block;
	margin-left:10px;
}
.btn-basic {
	padding:8px 15px;
	font-size:14px;
	color:#538fc7;
	border-radius:5px;
	border:1px solid #538fc7;
}
.btn-basic:hover {
	color:#ffffff;
	background:#538FC7;
	border-radius:5px;
	border:1px solid #538fc7;
}
.btn-basic:active {
	color:#ffffff;
	background:#4983b9;
	border-radius:5px;
	border:1px solid #4983b9;
}
.btn-basic i {
	margin-right:5px;
}
.radio-con {
	position:absolute;
	right:0;
	bottom:-5px;
	box-sizing:border-box;
	padding:0px;
	display:inline-block;
	overflow:hidden;
}
.radio-con input[type="radio"] {
	position:absolute;
	left:-1000px;
}
.radio-con label {
	color:#538fc7;
	line-height:24px;
	border-right-width:0;
	border-radius:0;
	display:inline-block;
	padding:5px 15px;
	cursor:pointer;
	transition:0.1s;
	-moz-user-select:none;
}
.input-element {
	font-size:14px;
	background-color:#fff;
	border:1px solid #538fc7;
	border-radius:5px;
	float:left;
}
.radio-con label:first-of-type {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.radio-con label:last-of-type {
	border-right-width:1px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.radio-con input[type="radio"]:checked+label {
	color:#fff;
	background-color:#538fc7;
	border-color:#538fc7;
}
.radio-con input[type="radio"]:checked+label+input+label {
	border-left-color:#538fc7;
}
.radio-con input[type="radio"]:disabled+label {
	color:#c0c4c8;
}
.radio,.radio__label,.radio__label:after,.radio__label:before {
	box-sizing:border-box;
}
.radio__container {
	float:left;
	width:292px;
	margin-right:20px;
	text-align:center;
}
.radio__container:nth-child(5n) {
	margin-right:0 !important
}
.radio__container .radio-inline {
	display:inline-block;
	margin-right:10px;
}
.radio__container .radio {
	display:inline;
	opacity:0;
	width:0;
	margin:0;
	overflow:hidden;
	-webkit-appearance:none;
}
.radio__container .radio__label {
	display:inline-block;
	height:100px;
	position:relative;
	padding:0px 10px 0px 30px;
	cursor:pointer;
	vertical-align:bottom;
	font-size:14px;
	text-align:center;
	color:rgba(0,0,0,0.54);
	transition:color 200ms ease;
}
.radio__container .radio__label:before,.radio__container .radio__label:after {
	position:absolute;
	content:"";
	border-radius:50%;
}
.radio__container .radio__label img {
	margin-bottom:5px;
}
.radio__container .radio__label:before {
	left:0;
	top:24px;
	width:16px;
	height:16px;
	border:2px solid #dbdbdb;
}
.radio__container .radio__label:after {
	top:27px;
	left:3px;
	width:10px;
	height:10px;
	-webkit-transform:scale(0);
	transform:scale(0);
	background-color:#538FC7;
}
.radio__container .radio__label:hover {
	color:#538FC7;
}
.radio__container .radio__label:hover:before {
	border-color:#538FC7;
}
.radio__container .radio:checked+.radio__label {
	color:#538FC7;
}
.radio__container .radio:checked+.radio__label:before {
	border-color:#538FC7;
}
.radio__container .radio:checked+.radio__label:after {
	-webkit-transform:scale(1);
	transform:scale(1);
}
.hidden {
	visibility:hidden;
	width:0;
	height:0;
}
.txc {
	text-align:center !important
}
.txr {
	text-align:right !important
}
.txl {
	text-align:left !important
}
.ir {
	font-size:0;
	text-indent: -999em;
}
/* MARGIN */
.mt0 {
	margin-top:0px !important;
}
.mt04 {
	margin-top:4px !important;
}
.mt05 {
	margin-top:5px !important;
}
.mt06 {
	margin-top:6px !important;
}
.mt08 {
	margin-top:8px !important;
}
.mt10 {
	margin-top:12px !important;
}
.mt12 {
	margin-top:10px !important;
}
.mt13 {
	margin-top:13px !important;
}
.mt16 {
	margin-top:16px !important;
}
.mt18 {
	margin-top:18px !important;
}
.mt20 {
	margin-top:20px !important;
}
.mt21 {
	margin-top:21px !important;
}
.mt23 {
	margin-top:23px !important;
}
.mt25 {
	margin-top:25px !important;
}
.mt27 {
	margin-top:27px !important;
}
.mt30 {
	margin-top:30px !important;
}
.mt31 {
	margin-top:31px !important;
}
.mt33 {
	margin-top:33px !important;
}
.mt34 {
	margin-top:34px !important;
}
.mt35 {
	margin-top:35px !important;
}
.mt36 {
	margin-top:36px !important;
}
.mt37 {
	margin-top:37px !important;
}
.mt38 {
	margin-top:38px !important;
}
.mt39 {
	margin-top:39px !important;
}
.mt40 {
	margin-top:40px !important;
}
.mt42 {
	margin-top:42px !important;
}
.mt45 {
	margin-top:45px !important;
}
.mt48 {
	margin-top:48px !important;
}
.mt50 {
	margin-top:50px !important;
}
.mt55 {
	margin-top:55px !important;
}
.mt58 {
	margin-top:58px !important;
}
.mt70 {
	margin-top:70px !important;
}
.mt78 {
	margin-top:78px !important;
}
.mt80 {
	margin-top:80px !important;
}
.mt81 {
	margin-top:81px !important;
}
.mt90 {
	margin-top:90px !important;
}
.mt98 {
	margin-top:98px !important;
}
.mt100 {
	margin-top:100px !important;
}
.mb0 {
	margin-bottom:0px !important;
}
.mb03 {
	margin-bottom:3px !important;
}
.mb05 {
	margin-bottom:5px !important;
}
.mb06 {
	margin-bottom:6px !important;
}
.mb07 {
	margin-bottom:7px !important;
}
.mb09 {
	margin-bottom:9px !important;
}
.mb10 {
	margin-bottom:10px !important;
}
.mb12 {
	margin-bottom:12px !important;
}
.mb13 {
	margin-bottom:13px !important;
}
.mb15 {
	margin-bottom:15px !important;
}
.mb17 {
	margin-bottom:17px !important;
}
.mb18 {
	margin-bottom:18px !important;
}
.mb20 {
	margin-bottom:20px !important;
}
.mb22 {
	margin-bottom:22px !important;
}
.mb25 {
	margin-bottom:25px !important;
}
.mb26 {
	margin-bottom:26px !important;
}
.mb27 {
	margin-bottom:27px !important;
}
.mb30 {
	margin-bottom:30px !important;
}
.mb32 {
	margin-bottom:32px !important;
}
.mb33 {
	margin-bottom:33px !important;
}
.mb35 {
	margin-bottom:35px !important;
}
.mb37 {
	margin-bottom:37px !important;
}
.mb40 {
	margin-bottom:40px !important;
}
.mb42 {
	margin-bottom:42px !important;
}
.mb47 {
	margin-bottom:47px !important;
}
.mb50 {
	margin-bottom:50px !important;
}
.mb55 {
	margin-bottom:55px !important;
}
.mb58 {
	margin-bottom:58px !important;
}
.mb60 {
	margin-bottom:60px !important;
}
.mb67 {
	margin-bottom:67px !important;
}
.mb77 {
	margin-bottom:77px !important;
}
.mr06 {
	margin-right:6px !important;
}
.mr02 {
	margin-right:3px !important;
}
.ml05 {
	margin-left:5px !important;
}
.ml120 {
	margin-left: 120px !important;
}
/* PADDING */
.pl0 {
	padding-left:0px !important;
}
.pl06 {
	padding-left:6px !important;
}
.pl10 {
	padding-left:10px !important;
}
.pl12 {
	padding-left:12px !important;
}
.pl15 {
	padding-left:15px !important;
}
.pl20 {
	padding-left:20px !important;
}
.pl25 {
	padding-left:25px !important;
}
.pl30 {
	padding-left:30px !important;
}
.pl33 {
	padding-left:33px !important;
}
.pl40 {
	padding-left:40px !important;
}
.pl46 {
	padding-left:46px !important;
}
.pl80 {
	padding-left:80px !important;
}
.pl90 {
	padding-left:90px !important;
}
.pl105 {
	padding-left:105px !important;
}
.pl155 {
	padding-left:155px !important;
}
.pr60 {
	padding-right:60px !important;
}
.pt00 {
	padding-top:0px !important;
}
.pt20 {
	padding-top:20px !important;
}
.pt40 {
	padding-top:40px !important;
}
.pt53 {
	padding-top: 53px !important;
}