@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');


body { 
    font-family: 'Noto Sans KR', dotum, sans-serif;
    color: #7d7d7d;
}
*, :after, :before {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5 { color: #2E303D}
legend{
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    width:1px;
    height:1px;
    font-size:0;
    line-height:0
}

header { 
    width: 100%;
    height: 150px;
    background: #f8f8f8; 
    border-bottom: 1px solid #E3E3E3
}
header #header_cont {
    width: 1600px;
    margin: 0 auto;
    
}
header h1 { 
    float:left;
    margin: 48px 0;
    line-height: 1.5;
}
header h2 {
    display: inline-block;
    margin: 57px 0 57px 20px;
    padding-left: 20px;
    font-size: 36px;
    color: #538fc7;
    border-left: 2px solid #7d7d7d;
}
header h1 a { 
    font-size: 36px;
    font-weight: bold; 
    color:#538fc7; 
    padding-left: 80px; 
    background: url(../images/logo.png) left 50% no-repeat;
}
header #header_cont .adminmn {
    position: relative;
    float: right;
    width: 140px;
    height: 150px;
    line-height: 150px;
    text-align: center;    
}

section { width: 1600px; margin: 0 auto;}
#contents { margin: 20px auto 40px; }

/* 공통 */
.adminmn {
    /* Size & position */
    position: relative;
    width: 140px;
    margin: 0;
    font-size: 22px;
    color: #538fc7;
    cursor: pointer;
}
  
  .adminmn i { 
      margin-right: 10px;
    }
  .adminmn .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid #f8f8f8;
    border-top: none;
    border-bottom: none;
    list-style: none;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
  }
  
  .adminmn .dropdown li {
    padding: 0 10px;
    line-height: 20px; 
    text-align: left;
  }
  
  .adminmn .dropdown li a {
    display: block;
    text-decoration: none;
    font-size:16px;
    color: #538FC7;
    padding: 10px 15px;
    border-bottom: 1px solid #e6e8ea;
  }
  
  .adminmn .dropdown li:last-of-type a {
    border: none;
  }
  
  .adminmn .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
  }
  
  /* Hover state */
  .adminmn .dropdown li:hover a {
    color: #4983b9;
  }
  
  /* Active state */
  .adminmn.active {
    background: #fff;
    border-bottom: none;
    color: #4983b9;
  }
  
  .adminmn.active:after {
    border-color: #82d1ff transparent;
  }
  
  .adminmn.active .dropdown {
    border-bottom: 1px solid #E3E3E3;
    max-height: 400px;
    z-index: 999;
  }
  


/* 로그인 페이지 */
#login_box { 
    width: 480px;
    margin: 160px auto 0;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
}

.loin_tit {
    padding: 30px;
    background: #F8F8F8;
    border-bottom: 1px solid #E3E3E3    
}
#login_box h3 {
    height: 45px;
    line-height: 45px;
    font-size: 30px;
    font-weight: 600;
    padding-left: 75px;
    background: url(../images/login_box.png) left 50% no-repeat;
}
#login_box h4 {
    margin-top: 12px;
    font-size: 22px;
}
#login_box fieldset {
    padding: 30px;
}
#login_box .userid {
    margin-bottom: 40px;
}
#login_box .i_label {
    display: block;
    margin-bottom: 12px;
    font-size: 22px;
}
#login_box .i_text {
    width: 430px;
    height: 48px;
    line-height: 48px;
    padding: 0px 23px;
    font-size:22px;
    color: #2E303D;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
}
#login_box .i_text:active, #login_box .i_text:focus {
    background: #FBFBC2;
}
#login_box .btnlogin input {
  display: inline-block;
  width: 135px;
  height: 53px;
  margin-top: 30px;
  padding: 0;
  font-size: 22px;
  color: #538fc7;   
  border-radius: 5px;
  border: 1px solid #538fc7;
  background: none;
}
#login_box .btnlogin input:hover,
#login_box .btnlogin input:focus,
#login_box .btnlogin input:active {
    display: inline-block;
    width: 135px;
    height: 53px;
    margin-top: 30px;
    padding: 0;
    font-size: 22px;
    color: #fff;   
    border-radius: 5px;
    border: 1px solid #4983b9;
    background: #4983b9;
  }

 /* 메인화면 */ 
#links {
      width: 1200px;
      margin: 80px auto 0 ;
}
#links ul li {
    float: left;
    margin: 0 20px 30px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #e3e3e3;
}
#links ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 155px;
    font-size: 22px;
}
#links ul li:hover a h3 {
    color: #4983b9;
}

#links .item2 li {
    width: 560px;
    height: 250px;
}
#links .item4 li {
    width: 260px;
    height: 250px;
}

#links .item2 .item01 {
    background: url(../images/links_img_01.png) center 40% no-repeat;
}
#links .item2 .item01:hover {
    background: url(../images/links_img_01r.png) center 40% no-repeat;
}
#links .item2 .item02 {
    background: url(../images/links_img_02.png) center 40% no-repeat;
}
#links .item2 .item02:hover {
    background: url(../images/links_img_02r.png) center 40% no-repeat;
}
#links .item2 .item03 {
    background: url(../images/links_img_03.png) center 40% no-repeat;
}
#links .item2 .item03:hover {
    background: url(../images/links_img_03r.png) center 40% no-repeat;
}
#links .item2 .item04 {
    background: url(../images/links_img_04.png) center 40% no-repeat;
}
#links .item2 .item04:hover {
    background: url(../images/links_img_04r.png) center 40% no-repeat;
}
#links .item4 .item05 {
    background: url(../images/links_img_05.png) center 40% no-repeat;
}
#links .item4 .item05:hover {
    background: url(../images/links_img_05r.png) center 40% no-repeat;
}
#links .item4 .item06 {
    background: url(../images/links_img_06.png) center 40% no-repeat;
}
#links .item4 .item06:hover {
    background: url(../images/links_img_06r.png) center 40% no-repeat;
}
#links .item4 .item07 {
    background: url(../images/links_img_07.png) center 40% no-repeat;
}
#links .item4 .item07:hover {
    background: url(../images/links_img_07r.png) center 40% no-repeat;
}
#links .item4 .item08 {
    background: url(../images/links_img_08.png) center 40% no-repeat;
}
#links .item4 .item08:hover {
    background: url(../images/links_img_08r.png) center 40% no-repeat;
}
#links .item4 .item09 {
    background: url(../images/links_img_09.png) center 40% no-repeat;
}
#links .item4 .item09:hover {
    background: url(../images/links_img_09r.png) center 40% no-repeat;
}
.page_tit {
    position: relative;
    margin-bottom: 40px;
    
}
.page_tit::after {
    display:block;
    content: '';
    clear: both;
}
.page_tit h3 {
    float: left;
   font-size: 28px;   
   color: #7d7d7d; 
}
.page_tit h3 > span {
    margin-left: 10px;
    font-size: 18px;       
}
#tab01 {
    margin-bottom: 20px;
}
#tab01:after {
    content:"";
    display:block;
    clear:both;
}
#tab01 ul li {
    float:left;
    margin-right: 50px;
}
#tab01 ul li a {
    font-size: 14px;
    color: #7d7d7d
}

#tab01 ul .on sup {
    color: #538fc7;    
}
#tab01 ul .on a {
    border-bottom: 2px solid #538fc7;
    color: #538fc7;
}
.tblwrap {
    background: #E3E3E3;
    border-radius: 10px;
    padding: 0 8px 8px 8px;
}
.gray_tbl {
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
}
.gray_tbl td {
    font-size:14px;
    padding:10px 10px;
    color:#7D7D7D;
    background-color:#F8F8F8;
    border-bottom: 1px solid #E3E3E3;
    vertical-align: middle;
    line-height: 130%;
}
.gray_tbl th {
    font-size:14px;
    text-align: left;
    padding:10px 10px;
    color:#7D7D7D;
}

table .td_80p { 
    width: 80px;
}
table .td_70pc { 
    width: 70%;
}
.gray_tbl .ellipsis {
    width: 1100px;
    overflow:hidden;
    white-space:nowrap;
    word-wrap: normal;
    text-overflow:ellipsis;
    font-size: 14px;    
}
.gray_tbl .tbl_tit {
    font-size: 16px;
    color: #538FC7;
}
.gray_tbl span {
    font-size: 12px;
}
.gray_tbl dl dt {
    color: #538fc7;
}
#date_view {
    margin-top: 15px;
}
#date_view dl {
    margin-right:45px;
    float: left;
}
#date_view dl dt {
    margin-bottom: 15px;
    font-size: 14px;
}
#date_view dl dd {
    font-size: 16px;
    color: #2E303D
}


.page_2dpth_tit {
    position: relative;
    margin-top: 160px;
    margin-bottom: 20px;    
}
.page_2dpth_tit::after {
    display:block;
    content: '';
    clear: both;
}
.page_2dpth_tit h4 {
    float:left;
    font-size: 22px;
    color: #7d7d7d;
}
.tbl220 {
    width: 100%;
    height: 220px;
    overflow-y: scroll;
}

.basic_tbl {
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
}
.basic_tbl td {
    font-size:14px;
    padding:10px 10px;
    color:#7D7D7D;
    border-bottom: 1px solid #F8F8F8;
    vertical-align: middle;    
}
.ptcolor {
    color: #538FC7 !important;
}
.basic_tbl th {
    font-size:14px;
    text-align: left;
    padding:10px 10px;
    color:#7D7D7D;
    background: #F8F8F8;
}
.basic_tbl tr:hover td {
    background: #80A0D5;
    color: #fff;
}
.basic_tbl tr:hover .ptcolor {
    color: #28436E !important
}

/* 공통적용 CSS */
.btn-group {
    display:block;
    position: absolute;
    right:0;
    bottom:-5px;
}
.btn-group li {
    display:inline-block;
    margin-left: 10px;
}
.btn-basic {
    padding: 8px 15px;
    font-size:14px;
    color: #538fc7;
    border-radius: 5px;
    border: 1px solid #538fc7;
}
.btn-basic:hover {
    color: #ffffff;
    background: #538FC7;
    border-radius: 5px;
    border: 1px solid #538fc7;
}
.btn-basic:active {
    color: #ffffff;
    background: #4983b9;
    border-radius: 5px;
    border: 1px solid #4983b9;
}
.btn-basic i {
    margin-right: 5px;
}
.radio-con{
    position:absolute;
    right: 0;
    bottom: -5px;
	box-sizing:border-box;
	padding:0px;
	display:inline-block;
	overflow:hidden;
	
}
.radio-con input[type="radio"]{
	position:absolute;
	left:-1000px;
}
.radio-con label{
    color: #538fc7;
	line-height:24px;
	border-right-width:0;
	border-radius:0;
	display:inline-block;
	padding:5px 15px;
	cursor:pointer;
	transition:0.1s;
    -moz-user-select:none;
    
}
.input-element{
	font-size:14px;
	background-color:#fff;
	border:1px solid #538fc7;
	border-radius:5px;
	float:left;
}
.radio-con label:first-of-type{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.radio-con label:last-of-type{
	border-right-width:1px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.radio-con input[type="radio"]:checked + label{
	color:#fff;
	background-color:#538fc7;
	border-color:#538fc7;
}
.radio-con input[type="radio"]:checked + label + input + label{
	border-left-color:#538fc7;
}
.radio-con input[type="radio"]:disabled + label{
	color:#c0c4c8;
}


.txc { 
    text-align: center !important
}
.txr { 
    text-align: right !important
}
