@font-face {
  font-family: 'incon';
  src:  url('fonts/incon.eot?y7mdli');
  src:  url('fonts/incon.eot?y7mdli#iefix') format('embedded-opentype'),
    url('fonts/incon.ttf?y7mdli') format('truetype'),
    url('fonts/incon.woff?y7mdli') format('woff'),
    url('fonts/incon.svg?y7mdli#incon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'incon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e927";
}
.icon-liststyle:before {
  content: "\e928";
}
.icon-thumnail:before {
  content: "\e929";
}
.icon-clock:before {
  content: "\e92a";
}
.icon-diver:before {
  content: "\e922";
}
.icon-policeman:before {
  content: "\e923";
}
.icon-fireman:before {
  content: "\e924";
}
.icon-plus-woman:before {
  content: "\e920";
}
.icon-call:before {
  content: "\e921";
}
.icon-cscenter-woman:before {
  content: "\e915";
}
.icon-fire:before {
  content: "\e916";
}
.icon-cscenter-man:before {
  content: "\e917";
}
.icon-callman:before {
  content: "\e918";
}
.icon-rec-pause:before {
  content: "\e919";
}
.icon-rec-play:before {
  content: "\e91a";
}
.icon-crime:before {
  content: "\e91b";
}
.icon-ambulance:before {
  content: "\e91c";
}
.icon-rescue:before {
  content: "\e91d";
}
.icon-plus-man:before {
  content: "\e91e";
}
.icon-monitor:before {
  content: "\e91f";
}
.icon-circle:before {
  content: "\e914";
}
.icon-pencil1:before {
  content: "\e913";
}
.icon-backward-arrow:before {
  content: "\e900";
}
.icon-cancle:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-down-arrow:before {
  content: "\e903";
}
.icon-forward-arrow:before {
  content: "\e904";
}
.icon-gear:before {
  content: "\e905";
}
.icon-save:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-up-arrow:before {
  content: "\e90a";
}
.icon-warning:before {
  content: "\e90b";
}
.icon-pause:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90d";
}
.icon-send:before {
  content: "\e90e";
}
.icon-refresh:before {
  content: "\e90f";
}
.icon-logout:before {
  content: "\e910";
}
.icon-admin:before {
  content: "\e911";
}
.icon-trash:before {
  content: "\e912";
}
.icon-pencil:before {
  content: "\e925";
}
.icon-book:before {
  content: "\e926";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-user:before {
  content: "\e971";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-stop2:before {
  content: "\ea1e";
}
