@font-face {
  font-family: 'incon';
  src:  url('fonts/incon.eot?vaud27');
  src:  url('fonts/incon.eot?vaud27#iefix') format('embedded-opentype'),
    url('fonts/incon.ttf?vaud27') format('truetype'),
    url('fonts/incon.woff?vaud27') format('woff'),
    url('fonts/incon.svg?vaud27#incon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'incon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cscenter-woman:before {
  content: "\e915";
}
.icon-fire:before {
  content: "\e916";
}
.icon-cscenter-man:before {
  content: "\e917";
}
.icon-callman:before {
  content: "\e918";
}
.icon-rec-pause:before {
  content: "\e919";
}
.icon-rec-play:before {
  content: "\e91a";
}
.icon-crime:before {
  content: "\e91b";
}
.icon-ambulance:before {
  content: "\e91c";
}
.icon-rescue:before {
  content: "\e91d";
}
.icon-plus-man:before {
  content: "\e91e";
}
.icon-monitor:before {
  content: "\e91f";
}
.icon-plus-woman .path1:before {
  content: "\e920";
  color: rgb(46, 48, 61);
}
.icon-plus-woman .path2:before {
  content: "\e921";
  margin-left: -0.6943359375em;
  color: rgb(46, 48, 61);
}
.icon-plus-woman .path3:before {
  content: "\e922";
  margin-left: -0.6943359375em;
  color: rgb(248, 248, 248);
}
.icon-circle:before {
  content: "\e914";
}
.icon-pencil:before {
  content: "\e913";
}
.icon-backward-arrow:before {
  content: "\e900";
}
.icon-cancle:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-down-arrow:before {
  content: "\e903";
}
.icon-forward-arrow:before {
  content: "\e904";
}
.icon-gear:before {
  content: "\e905";
}
.icon-save:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-up-arrow:before {
  content: "\e90a";
}
.icon-warning:before {
  content: "\e90b";
}
.icon-pause:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90d";
}
.icon-send:before {
  content: "\e90e";
}
.icon-refresh:before {
  content: "\e90f";
}
.icon-logout:before {
  content: "\e910";
}
.icon-admin:before {
  content: "\e911";
}
.icon-trash:before {
  content: "\e912";
}
